* {
  padding: 0%;
  margin: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

header {
  max-width: 1550px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Hero_section_header {
  max-width: 1550px;
  width: 100%;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.Hero_section_header h4 {
  font-size: 28px;
  color: #eee;
  font-weight: 700;
}
.Hero_section_header h4 span {
  width: 110px;
  font-size: 28px;
  color: #ff8d41;
  font-weight: 700;
}
.Hero_section_nav_links {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 24px;
}
i {
  font-size: 1rem;
  color: white;
  font-weight: 600;
}
.hide_icone {
  display: none;
}
.Header_toggle_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_hide {
  display: none;
}

.Hero_section_nav_links ul {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.Hero_section_nav_links ul li {
  list-style-type: none;
}
.Hero_section_nav_links ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #eee;
}

.Hero_section_logout {
  size: 18px;
  font-weight: bold;
  color: #eee;
}

.Hero_section_meta_data {
  max-width: 1550px;
  width: 100%;
  height: 850px;
  padding-left: 50px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  background-image: url(../images/Home_Screen_img.jpg);
  gap: 20px;
}
.Hero_section_sub_box {
  display: flex;
  padding-top: 50px;
  margin-bottom: 50px;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.Hero_section_sub_heading {
  font-size: 18px;
  font-weight: bold;
  color: #eee;
}
.Hero_section_main_heading {
  color: #eee;
  line-height: 150%;
  font-size: 4rem;
}
.Hero_section_main_heading span {
  color: #ff8d41;
}
.Hero_section_peragraph {
  max-width: 604px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #eee;
  resize: inherit;
  font-size: medium;
}

.Hero_section_button_section {
  width: 272px;
  height: 44px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.Hero_section_button_BOOK_NOW {
  width: 119px;
  height: 44px;
  border-radius: 0.2cm;
  border: none;
  color: #eee;
  background-color: #ff8d41;
  text-align: center;
}

.Hero_section_button_EXPLORE_MORE {
  width: 119px;
  height: 44px;
  border-radius: 0.2cm;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  text-align: center;
}

.About_Us_section_content {
  max-width: 1550px;
  width: 100%;
  padding: 10px 100px 30px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.About_Us_tag {
  text-align: center;
  color: #616161;
  margin-top: 50px;
  font-size: 1rem;
}

.About_Us_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 117px;
  margin: 10px;
}

.About_Us_card_text h2 {
  text-align: left;
  color: #424242;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.About_Us_card_text h2 span {
  color: #ff8d41;
}

.About_Us_card img {
  border-radius: 50px;
  max-width: 524px;
  width: 100%;
  height: 100%;
  flex: 1;
}

.About_Us_card_text {
  flex: 1;
}
.About_Us_card_text p {
  font-size: 1rem;
  font-weight: 500;
}
.About_Us_card_text p span {
  color: #929292;
}
.card2 {
  flex-direction: row-reverse;
}

.Read_more {
  width: 126px;
  height: 44px;
  padding: 10px;
  text-align: center;
  border: 2px solid #ff8d41;
  background-color: white;
  border-radius: 0.2cm;
  color: #ff8d41;
  font-weight: bolder;
  font-size: 15px;
  margin-top: 10px;
}

.Read_more:hover {
  border: 2px solid white;
  background-color: #ff8d41;
  border-radius: 0.2cm;
  color: white;
}
.statestic_data_container {
  max-width: 1550px;
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ff8d41;
  color: #fff;
}
.statestic_items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.statestic_items span {
  font-size: 48px;
  font-weight: bold;
  display: block;
  text-align: center;
}
.statestic_data span :first-child {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}
.Explore_room_container {
  max-width: 1550px;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #f8f9fb;
}
.Explore_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.Explore_heading p {
  font-size: 20px;
  color: #616161;
  font-weight: bold;
  letter-spacing: 1px;
}
.Explore_heading h2 {
  padding: 20px;
  color: #424242;
}
.Explore_heading h2 span {
  color: #ff8d41;
}
.Explore_cards_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.Explore_cards img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.services_container {
  max-width: 1550px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.services_heading {
  font-size: 20px;
  color: #616161;
  font-weight: bold;
  letter-spacing: 1px;
}
.services_heading p {
  font-size: 20px;
  color: #616161;
  font-weight: bold;
  letter-spacing: 1px;
}
.services_heading h2 {
  color: #424242;
}
.services_heading h2 span {
  color: #ff8d41;
}
.services_cards_container {
  max-width: 1236px;
  width: 100%;
  /* height: 564px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.services_cards_container img {
  max-width: 350px;
  width: 100%;
  max-height: 258px;
  height: 100%;
  background-color: #fff;
  filter: drop-shadow(0 0 0.04rem #616161);
}
.services_cards_container .card img {
  object-fit: fill;
}

.Testimonial_container {
  max-width: 1550px;
  width: 100%;
  padding: 20px;
}

.Testimonial_cards_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.Testimonial_heading {
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #616161;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.Testimonial_container h2 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #424242;
  text-align: center;
}
.Testimonial_container h2 span {
  color: #ff8d41;
  text-align: center;
}

.Testimonial_cards_container img {
  max-width: 270px;
  max-height: 180px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer_container {
  max-width: 1550px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-self: center;
}

.Footer_p {
  max-width: 280px;
  max-height: 129px;
  width: 100%;
  height: 100%;
}
.foot_con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Footer_Quick_Links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 150px;
  height: 174px;
}

.Footer_Quick_Links p {
  text-align: left;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}
.Footer_Quick_Links ul {
  list-style-type: none;
}
.Footer_Quick_Links ul li {
  margin-top: 10px;
}
.Footer_Quick_Links ul li a {
  text-decoration: none;
  color: #929292;
}
