* {
  padding: 0%;
  margin: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
}
.Hero_section_header {
  width: 1339px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Hero_section_header h4 {
  width: 110px;
  font-size: 28px;
  color: #eee;
  font-weight: 700;
}
.Hero_section_header h4 span {
  width: 110px;
  font-size: 28px;
  color: #ff8d41;
  font-weight: 700;
}
.Hero_section_nav_links {
  width: 397px;
  height: 25px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 24px;
}
.Hero_section_nav_links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #eee;
}
.Hero_section_logout {
  size: 18px;
  font-weight: bold;
  color: #eee;
}

.Hero_section_meta_data {
  margin-left: 0%;
  width: 1550px;
  height: 850px;
  padding-left: 50px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  background-image: url(../images/Home_Screen_img.jpg);
  gap: 20px;
}
.Hero_section_sub_box {
  width: 604px;
  height: 407px;
  display: flex;
  padding: 20px;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}
.Hero_section_sub_heading {
  width: 604px;
  height: 233px;
}

.Hero_section_sub_heading div {
  width: 604px;
  font-size: 18px;
  font-weight: bold;
  color: #eee;
}
.Hero_section_main_heading h1 {
  width: 604px;
  height: 192px;
  line-height: 150%;
  font-size: 64px;
}
.Hero_section_main_heading span {
  color: #ff8d41;
}
.Hero_section_peragraph {
  width: 604px;
  height: 66px;
  color: #eee;
  resize: inherit;
  font-size: medium;
}

.Hero_section_button_section {
  width: 272px;
  height: 44px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.Hero_section_button_BOOK_NOW {
  width: 119px;
  height: 44px;
  border-radius: 1cm;
  border: none;
  color: #eee;
  background-color: #ff8d41;
  text-align: center;
}

.Hero_section_button_EXPLORE_MORE {
  width: 119px;
  height: 44px;
  border-radius: 1cm;
  border: 2px solid white;
  color: black;
  text-align: center;
}

.About_Us_section_content {
  max-width: 1550px;
  width: 100%;
  padding: 10px 100px 30px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.About_Us_tag {
  text-align: center;
  color: #616161;
  margin-top: 50px;
}

.About_Us_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 117px;
  margin: 10px;
}

.About_Us_card_text h2 {
  text-align: left;
  color: #424242;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.About_Us_card_text h2 span {
  color: #ff8d41;
}

.About_Us_card img {
  border-radius: 50px;
  max-width: 524px;
  width: 100%;
  height: 100%;
  flex: 1;
}

.About_Us_card_text {
  flex: 1;
}
.About_Us_card_text p {
  font-size: 1rem;
  font-weight: 500;
}
.About_Us_card_text p span {
  color: #929292;
}
.card2 {
  flex-direction: row-reverse;
}

.Read_more {
  width: 126px;
  height: 44px;
  padding: 10px;
  text-align: center;
  border: 2px solid #ff8d41;
  background-color: white;
  border-radius: 0.2cm;
  color: #ff8d41;
  font-weight: bolder;
  font-size: 15px;
  margin-top: 10px;
}

.Read_more:hover {
  border: 2px solid white;
  background-color: #ff8d41;
  border-radius: 0.2cm;
  color: white;
}
.statestic_data_container {
  max-width: 1550px;
  width: 100%;
  height: fit-content;
  padding:20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ff8d41;
  color: #fff;
}
.statestic_items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.statestic_items span {
  font-size: 48px;
  font-weight: bold;
  display: block;
  text-align: center;
}
.statestic_data span :first-child {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}
.Explore_room_container {
  max-width: 1550px;
  width: 100%;
  height: 738px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #f8f9fb;
}
.Explore_heading {
  width: 386px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.Explore_heading p {
  font-size: 20px;
  color: #616161;
  font-weight: bold;
  letter-spacing: 1px;
}
.Explore_heading h2 {
  color: #424242;
}
.Explore_heading h2 span {
  color: #ff8d41;
}
.Explore_cards_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.Explore_cards img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media all and (max-width: 1024px) {
  .About_Us_section_content {
    height: max-content;
  }
  .About_Us_card {
    display: block;
  }

  .About_Us_card_text h2 {
    font-size: 2.2rem;
  }
  .About_Us_section_content {
    padding: 10px 42px 15px 42px;
  }
  .Explore_cards_container{
   flex-direction: column;
  }
  

}
@media all and (max-width: 991px) {
  .About_Us_section_content {
    height: max-content;
  }
  .About_Us_card {
    display: block;
  }

  .About_Us_card_text h2 {
    font-size: 2rem;
  }
  .About_Us_section_content {
    padding: 10px 40px 15px 40px;
  }
  .statestic_data_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
  }
  .statestic_items span {
    font-size: 40px;
  }
  .About_Us_card img{
    text-align: center;
  }
}

@media all and (max-width: 768px) {
  .About_Us_section_content {
    height: max-content;
  }
  .About_Us_card {
    display: block;
  }

  .About_Us_card_text p {
    font-size: 0.8rem;
    font-weight: 400;
  }
  .About_Us_card_text h2 {
    font-size: 1.8rem;
  }
  .About_Us_section_content {
    padding: 10px 35px 15px 35px;
  }
 
  .statestic_data_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
  }
  .statestic_items span {
    font-size: 40px;
  }
  
}

@media all and (max-width: 520px) {
  .About_Us_section_content {
    height: max-content;
  }
  .About_Us_card {
    display: block;
  }

  .About_Us_card_text p {
    font-size: 0.8rem;
    font-weight: 400;
  }
  .About_Us_card_text h2 {
    font-size: 1.5rem;
  }
  .About_Us_section_content {
    padding: 10px 25px 10px 25px;
  }
  .statestic_data_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .statestic_items span {
    font-size: 40px;
  }
}
@media all and (max-width: 390px) {
  .About_Us_section_content {
    height: max-content;
  }
  .About_Us_card {
    display: block;
  }
  .Read_more {
    width: 100%;
  }
  .About_Us_card_text p {
    font-size: 0.5rem;
    font-weight: 400;
  }
  .About_Us_card_text h2 {
    font-size: 1rem;
  }
  .About_Us_section_content {
    padding: 10px 20px 10px 20px;
  }
  .statestic_data_container {
    flex-wrap: wrap;
  }
  .statestic_data_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .statestic_items span {
    font-size: 40px;
  }
}


.services_container {
  width: 1550px;
  height: 954px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.services_heading {
  width: 419px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.services_heading p {
  font-size: 20px;
  color: #616161;
  font-weight: bold;
  letter-spacing: 1px;
}
.services_heading h2 {
  color: #424242;
}
.services_heading h2 span {
  color: #ff8d41;
}
.services_cards_container {
  width: 1236px;
  height: 564px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services_cards_container .card {
  width: 350px;
  height: 258px;
  background-color: #fff;
  filter: drop-shadow(0 0 0.04rem #616161);
  display: flex;
  align-items: center;
  justify-content: center;
}
.services_cards_container .card img {
  object-fit: fill;
}

.Testimonial_container {
  width: 1550px;
  height: 608px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
.Testimonial_cards_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #fff;
  column-gap: 5px;
}

.Testimonial_heading {
  width: 367px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.Testimonial_heading p {
  font-size: 20px;
  color: #616161;
  font-weight: bold;
  letter-spacing: 1px;
}
.Testimonial_heading h2 {
  color: #424242;
}
.Testimonial_heading h2 span {
  color: #ff8d41;
}

.Testimobial_card {
  width: 298px;
  height: 218px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Testimobial_card figure img {
  width: 298px;
  height: 218px;
  object-fit: contain;
}

.footer_container {
  width: 1550px;
  height: 374px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Footer_p {
  width: 280px;
  height: 129px;
}

.Footer_Quick_Links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 150px;
  height: 174px;
}

.Footer_Quick_Links p {
  text-align: left;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}
.Footer_Quick_Links ul {
  list-style-type: none;
}
.Footer_Quick_Links ul li {
  margin-top: 10px;
}
.Footer_Quick_Links ul li a {
  text-decoration: none;
  color: #929292;
}
